//Breakpoint Declarations

$xlarge: "min-width: 1080px";   // greater than 1080px
$large:  900px;   // smaller than 1080px
$small:  740px;    // smaller than 840px
$xsmall: 415px;    // smaller than 600px
$xsmallH: 400px;    // smaller than 600px

$minPageWidth: 360px;
$maxPageWidth: 900px;
$baseMargin: 10px;
$basePadding: 10px;

$blue: #1B4D6B;
$yellow: #F9E319;
$text: #000000;
$green: #8CD43D;
$orange: #F5A623;
$purple: #9013FE;
$red: #D0021B;