RewriteEngine On
RewriteBase /

AddType image/svg+xml svg

RewriteCond %{DOCUMENT_ROOT} !-f
RewriteRule !\.(js|ico|gif|jpg|png|css|svg|xml|php)$ index.html [QSA,L]

<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>
